body {
    margin: 0;
    padding: 0;
}

.App {
    text-align: center;
    background-color: var(--main-bg-color);
    color: var(--main-color);
    font-family: var(--main-font);
}

ul {
    padding: 1rem 0 0 0;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

