body {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background-color: #666;
  color: #fff;
  font-family: helvetica;
}

ul {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
}

li {
  list-style-type: none;
  padding: .3rem;
}

.linkStyle {
  text-decoration: none;
}






